@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #34444e;
  color: white;
}
.main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.difficulty {
  background-color: #1a262e;
  padding: 2rem;
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  height: 5rem;
  transition: top 0.8s ease-in-out;
}
.difficulty.show {
  top: 0;
}
#difficul-chose {
  background-color: #495e6b;
  border: none;
  padding: 0.25rem;
  margin-left: 1rem;
  color: aquamarine;
}
#difficul-chose:focus {
  outline: none;
}
.difficulty option {
  border: none;
  padding: 6px;
  background-color: #57656e;
  color: white;
}
.difficulty option:focus {
  outline: none;
}
.setting-btn {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}
.container {
  position: absolute;
  background-color: #495e6b;
  padding: 1rem;
  border-radius: 6px;
  /* width: 300px; */
}
.container h1 {
  background-color: #1a262e;
  padding: 0.25rem 5rem;
  border-radius: 4px;
}
.container h3 {
  margin: 2rem 0;
}
.container button {
  padding: 0.5rem 2rem;
  border: none;
  background-color: aquamarine;
  border-radius: 4px;
  cursor: pointer;
}
.time-score {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.word {
  color: orange;
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}
.input-type {
  padding: 0.25rem;
  width: 70%;
  border-radius: 4px;
  border: none;
}
.input-type:focus {
  outline: none;
}
