textarea {
  resize: none;
}
.edit {
  color: blue;
  cursor: pointer;
}
.delete {
  color: red;
  cursor: pointer;
}
.update-post {
  display: none;
}
.cancel-post {
  display: none;
}
.alert-post {
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.25rem;
  display: none;
}
