@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #5089c6;
  color: white;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.btn-toggle {
  background-color: #001e6c;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-toggle:hover {
  color: aqua;
  transform: scale(1.1);
}
.btn-toggle:focus {
  outline: none;
}
.text-box {
  background-color: #001e6c;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  top: -100%;
  left: 50%;
  right: 0;
  width: 70%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-in-out;
}
.text-box.show {
  top: 50%;
}
.text-box h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.text-box select {
  display: block;
  width: 100%;
  padding: 0.2rem;
}
.text-box select:focus {
  outline: none;
  border: 1px solid #ffaa4c;
}
.text-box textarea:focus {
  outline: none;
  border: 1px solid #ffaa4c;
}
.text-box textarea {
  display: block;
  width: 100%;
  margin: 1rem 0;
}
.text-box button {
  display: block;
  width: 100%;
  padding: 0.25rem;
  background-color: #ffaa4c;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.text-box button:focus {
  outline: none;
}
.text-box .close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: red;
  cursor: pointer;
}
.text-box .close:hover {
  color: orange;
}
.text-img-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}
.card {
  background-color: #ffaa4c;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card p {
  padding: 0.25rem 0;
}
.card:hover p {
  color: #001e6c;
  text-transform: uppercase;
}
.card.click {
  box-shadow: 0 0 10px #001e6c;
}

@media screen and (max-width: 768px) {
  .text-img-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 525px) {
  .text-img-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 375px) {
  .text-img-box {
    grid-template-columns: 1fr;
  }
}
