* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #333;
  color: white;
  text-align: center;
}
.container {
  margin: 1rem auto;
  max-width: 800px;
  display: flex;
}
aside {
  /* flex: 1; */
  padding: 1rem;
  border-right: 1px solid white;
}
aside button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: 2px 2px 8px darkgray;
  color: #0698ec;
}
aside button:hover {
  color: #333;
  transform: scale(1.1);
}
main {
  flex: 1;
  padding: 1rem;
  /* width: 100%; */
}
main .title,
main .output-user {
  display: flex;
  justify-content: space-between;
}
.title {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}
.output-user {
  margin: 1rem 0;
}
.output-user .name {
  font-weight: 700;
}
.total {
  text-align: right;
  padding-top: 0.5rem;
  margin-top: 2rem;
}
.total span {
  font-weight: 700;
  color: #0698ec;
  font-size: 1.2rem;
}
.total p {
  border-top: 1px solid white;
}
